/*backgroud geral*/

#fundoGeral {
    background-color: #F5EBDC;
}

body {
    font-family: "Lato", sans-serif;
    background-color: black;
}

/*menu*/

.round-black-btn {
    color: white !important;
}

#saldo {
    margin-left: 680px;
}

.descricaoSpan {
    font-weight: 400;
    color:#989898;
}

.active {
    color: #D62300 !important;
    font-weight: 500;
}

/*Media query*/
@media screen and (min-width: 400px) and (max-width: 560px){
    
    .MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; 
    padding:100px; 
    margin:50px; 
    background:#f1f1f1; 
    color:rgb(3, 3, 3);}
}

@media screen and (min-width: 561px) and (max-width: 1000px){
    
    .MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; 
    padding:15px; 
    margin:4px; 

background:#f1f1f1; 
    color:rgb(3, 3, 3);}
}

.textAlert {
    color: red;
}

#formItem {
    border: 3px solid black;
    border-radius: 0.5%;
    padding: 3%;
    width: 60%;
    margin-left: 20%;
    z-index: 9999;
    position: fixed;
    background-color: white;
}

.container {
    margin-top: 3% !important;
}

.btnCancelarPedido {
    min-width: 125%;
}

.btnAddItem {
    margin-top: 5%;
    margin-left: 49%;
    font-weight: bold !important;
    font-size: 30px !important;
    border-radius: 50% !important;
    min-width: 5.5%;
}

.btnEntregar {
    min-width: 125%;
    margin-top: 5%;
}

.pendente {
    color: orange;
}

.cancelado {
    color: red;
}

.entregue {
    color: green;
}

.statusSpan {
    font-weight: bold;
}

.codigoSpan {
    text-align: center;
    font-size: larger;
}

.modalFade {
    background-color: rgba(0, 0, 0, 0.575);
    min-width: 100%;
    min-height: 400%;
    z-index: 999;
    position: fixed;
    margin-top: -80%;
}

.alertTitle {
    color: red;
    text-align: center;
    font-weight: bold;
}

.alertMessage {
    text-align: center;
}

#btn-ok-alert {
    min-width: 15%;
    margin-left: 42.5%;
    align-self: center;
    margin-top: 4%;
}

.hidden {
    display: none !important;
}
  
.btnEditarItemCardapio {
    margin-top: 5px;
    min-width: 150% !important;
}

.btnExcluirItemCardapio {
    min-width: 150% !important;
}

  /*INICIO LOGIN*/

#buttonsenha {
    display: block;
    margin-top: 20px;
}


.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background: url("../img/pizza-g7158b9156_1920.jpg");
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (max-width: 768px) {
    #formItem {
        width: 90%;
        margin-left: 5%;
    }

    .recarga {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .recarga {
        margin-left: 18%;
        margin-right: 18%;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: bold;
    font-size: 2.5em;
}

.login-main-text p{
    font-size: 1em;
}

.register-main-text h2{
    font-weight: bold;
    font-size: 2.5em;
}

.register-main-text p{
    font-size: 1em;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

/*FINAL LOGIN*/

/*INICIO CADASTRO*/

.register-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.register-form{
    margin-top: 35%;
}

/*FINAL CADASTRO*/


/*INICIO CARDAPIO*/

.page_title {
    padding: 30px 0px;
}
.page_title h1 {
    color: #783c00;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 0;
    position: relative;
    text-transform: capitalize;
}
.page_title h1::before {
    background: #783c00;
    width: 70px;
    height: 2px;
    position: absolute;
    content: '';
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page_title h1::after {
    position: absolute;
    content: '';
    background: #fbc531;
    width: 30px;
    height: 2px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    margin-top: 30px;
}

.wrapper span {
    font-weight: bold;

}

.card {
    border: 1px solid #eee;
    cursor: pointer;
}

.weight {
    margin-top: -65px;
    transition: all 0.5s;
}

.weight small {
    color: #e2dede;
}

.buttons {
    padding: 1px;
    background-color: #d6d4d44f;
    border-radius: 4px;
    position: relative;
    margin-top: 7px;
    opacity: 0;
    transition: all 0.8s;
}

.dot {
    height: 200px;
    width: 14px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: #fff;
    opacity: 0;
}

.cart-button {
    height: 50px;
}

.cart-button:focus {
    box-shadow: none;
}

.cart {
    position: relative;
    height: 48px !important;
    width: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
    transition: 1s ease-in-out;
    overflow: hidden;
}

.cart-button.clicked span.dot {
    animation: item 0.3s ease-in forwards;
}

@keyframes item {
    0% {
        opacity: 1;
        top: 30%;
        left: 30%;
    }

    25% {
        opacity: 1;
        left: 26%;
        top: 0%;
    }

    50% {
        opacity: 1;
        left: 23%;
        top: -22%;
    }

    75% {
        opacity: 1;
        left: 19%;
        top: -18%;
    }

    100% {
        opacity: 1;
        left: 14%;
        top: 28%;
    }
}

.card:hover .buttons {
    opacity: 1;
}

.card:hover .weight {
    margin-top: 10px;
}

.card:hover {
    transform: scale(1.04);
    z-index: 2;
    overflow: hidden;
}

.card img {
    border-radius: 15px;
}


/*FINAL CARDAPIO*/


/*PRATO DO DIA*/
.social-card-header{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 96px;
}
.social-card-header i {
    font-size: 50px;
    color:#FFF;
}

.share:hover {
        text-decoration: none;
        opacity: 0.8;
}

.card-body {
    background-color: #D62300;
}

.card-body p {
    font-size: 20px;
}

.promocao {
    margin-top: 100px;
}

.promocao p {
    color:#FFF;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px dashed #D62300;
    line-height: 2;
    text-transform: capitalize;
}

.promocao h3 {
    color: #783c00;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 0;
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
}

.promocao h5 {
    color:#FFF;
}

/*FINAL PRATO DO DIA*/


/*Carrinho*/
.cart-wrap {
	padding: 40px 0;
	font-family: 'Open Sans', sans-serif;
}
.main-heading {
	font-size: 19px;
	margin-bottom: 20px;
}
.table-cart table {
    width: 100%;
}
.table-cart thead {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.table-cart thead tr th {
    padding: 8px 0 18px;
    color: #484848;
    font-size: 15px;
    font-weight: 400;
}
.table-cart tr td {
    padding: 40px 0 27px;
    vertical-align: middle;
}
.table-cart tr td:nth-child(1) {
    width: 52%;
}
.table-cart tr td:nth-child(2) {
    width: 26%;
}
.table-cart tr td:nth-child(3) {
    width: 13.333%;
}
.table-cart tr td:nth-child(4) {
    width: 8.667%;
    text-align: right;
}
.table-cart tr td .img-product {
    width: 72px;
    float: left;
    margin-left: 8px;
    margin-right: 31px;
    line-height: 63px;
}
.table-cart tr td .img-product img {
	width: 100%;
}
.table-cart tr td .name-product {
    font-size: 15px;
    color: #484848;
    padding-top: 8px;
    line-height: 24px;
    width: 50%;
}
.table-cart tr td .price {
    text-align: right;
    line-height: 64px;
    margin-right: 40px;
    color: #989898;
    font-size: 16px;
    font-family: 'Nunito';
}
.table-cart tr td .quanlity {
    position: relative;
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: transparent;
    text-align: center;
    font-size: 19px;
    line-height: 34px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}
.product-count .qtyminus {
    line-height: 32px;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
.product-count .qty {
	width: 60px;
	text-align: center;
	border: none;
}
.count-inlineflex {
	display: inline-flex;
	border: solid 2px #ccc;
	border-radius: 20px;  
}
.total {
	font-size: 24px;
	font-weight: 600;
	color: #D62300;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}

.coupon-box {
    padding: 63px 0 58px;
    text-align: center;
    border: 2px dotted #e5e5e5;
    border-radius: 10px;
    margin-top: 55px;
}
.coupon-box form input {
    display: inline-block;
    width: 264px;
    margin-right: 13px;
    height: 44px;
    border-radius: 25px;
    border: solid 2px #cccccc;
    padding: 5px 15px;
    font-size: 14px;
}
input:focus {
	outline: none;
	box-shadow: none;
}
.round-black-btn {
	border-radius: 25px;
    background: #D62300;
    color: #fff;
    padding: 8px 35px;
    display: inline-block;
    border: solid 2px #fff; 
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}
.cart-totals {
	border-radius: 3px;
	background: #e7e7e7;
	padding: 25px;
}
.cart-totals h3 {
	font-size: 19px;
    color: #783c00;
    letter-spacing: 1px;
    font-weight: bold;
}
.cart-totals table {
	width: 100%;
}
.cart-totals table tr th,
.cart-totals table tr td {
	width: 50%;
    padding: 3px 0;
    vertical-align: middle;
}
.cart-totals table tr td:last-child {
	text-align: right;
}
.cart-totals table tr td.subtotal {
	font-size: 20px;
    color: #6f6f6f;
}
.cart-totals table tr td.free-shipping {
	font-size: 14px;
    color: #6f6f6f;
}
.cart-totals table tr.total-row td {
	padding-top: 25px;
}
.cart-totals table tr td.price-total {   
	font-size: 24px;
    font-weight: 600;
    color: #D62300;
}
.btn-cart-totals {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}
.btn-cart-totals .round-black-btn {
	margin: 10px 0; 
}

/*Final Carrinho*/

/*Perfil*/

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad {
    margin-top:20px;
}

.panel-body img {
    max-width: 200px;
    border-radius: 40px;
}


/*Fim Perfil*/



/*Pedido*/

.MultiCarousel { 
    float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { 
    float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
    position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { 
    left:0; }
.MultiCarousel .rightLst { 
    right:0; }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; background:#ccc; }

/*Fim do pedido*/


/*Modal Perfil*/

.center {
    margin-top:50px;   
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}

/*Fim Modal*/

/*Recarga*/
.recarga h1 {
    font-size: 1em;
    margin-top: 30px;
    margin-left: 30px;
}

#inputRecargaCPF {
    margin-top: 20px;
    margin-left: 30px;
    padding: 3px;
}

.alertRecarga{
    margin-left: 30px;
}

/*Modal Recarga*/


.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}

/*Usuarios*/

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

#btnUser {
    padding: 5px;
    margin: 15px;
}




    